@using Abp.Extensions
@model Eureka.Spe.Web.Models.NotificationRequest.LayoutController.ElementsForEntity

@{
    Layout = null;
}

<link href="~/Views/Notifications/GetNotificationsForEntity.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12">
        <input type="hidden" id="Id" value="@Model.Id" />
        <input type="hidden" id="EntityName" value="@Model.EntityName" />
        @if (!Model.Notifications.Any())
        {
            <h2>Aún no se han agendado notificaciones para este elemento...</h2>
        }
        else
        {
            <div class="row">
                @foreach (var modelNotification in Model.Notifications)
                {
                    <div class="col-md-4">
                        <div class="notification-holder">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span style="font-size: 1rem;width: 90%;">
                                        @modelNotification.NotifyDate.ToShortDateString()
                                    </span>
                                    <a class="btn btn-xs btn-danger pull-right js-delete-notification" data-id="@modelNotification.Id"><i class="material-icons">delete_sweep</i></a>
                                </div>
                            </div>

                            <div class="row js-element-container-@modelNotification.Id">
                                <div class="col-sm-3 text-center">
                                    <img src="@(modelNotification.Badge.IsNullOrEmpty()? "https://storefront.bindo.com/images/empty-product-img.png":modelNotification.Badge)" style="width: 50px; height: 50px; margin: 0 auto" class="img-responsive" alt="Alternate Text" />
                                </div>
                                <div class="col-sm-9" data-id="@modelNotification.Id" style="padding: 0;">
                                    <p style="font-weight: 600;">
                                        @modelNotification.Title
                                    </p>
                                    <p style="font-size: 1rem;width: 90%;">
                                        @modelNotification.Message
                                    </p>

                                </div>

                            </div>

                            <div class="sparkline" data-type="pie" data-spot-Radius="4" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#fff"
                                 data-min-Spot-Color="rgb(255,255,255)" data-max-Spot-Color="rgb(255,255,255)" data-spot-Color="rgb(255,255,255)"
                                 data-offset="90" data-width="100%" data-height="40px" data-line-Width="2" data-line-Color="rgba(255,255,255,0.7)"
                                 data-fill-Color="rgba(0, 188, 212, 0)">
                                @string.Join(",", modelNotification.GetData)
                            </div>
                        </div>

                    </div>

                }
            </div>

        }
    </div>
    <div class="col-sm-12">
        <button class="btn btn-primary js-place-notification" type="button">
            Agendar Notificación
        </button>
    </div>
</div>

<script src="~/Views/Notifications/GetNotificationsForEntity.es5.min.js"></script>