@using Abp.Extensions
@model Eureka.Spe.Web.Models.NotificationRequest.LayoutController.ElementsForEntity

@{
    Layout = null;
}
<style>
    .notification-holder {
        padding: 10px;
        border-radius: 10px;
        border: none;
        -webkit-box-shadow: -2px 9px 30px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 9px 30px -5px rgba(0,0,0,0.75);
        box-shadow: -2px 9px 30px -5px rgba(0,0,0,0.75);
    }

        .notification-holder > .col-sm-12 {
            margin-bottom: 0;
        }
</style>
<div class="row">
    <div class="col-sm-12">
        <input type="hidden" id="Id" value="@Model.Id" />
        <input type="hidden" id="EntityName" value="@Model.EntityName" />
        @if (!Model.Notifications.Any())
        {
            <h2>Aún no se han agendado notificaciones para este elemento...</h2>
        }
        else
        {
            <div class="row">
                @foreach (var modelNotification in Model.Notifications)
                {
                    <div class="col-md-4">
                        <div class="notification-holder">
                            <div class="row">
                                <div class="col-sm-12">

                                    <a class="btn btn-xs btn-danger pull-right js-delete-notification" data-id="@modelNotification.Id"><i class="material-icons">delete_sweep</i></a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img src="@(modelNotification.Badge.IsNullOrEmpty()? "https://storefront.bindo.com/images/empty-product-img.png":modelNotification.Badge)" style="width: 50px; height: 50px; margin: 0 auto" class="img-responsive" alt="Alternate Text" />
                                </div>
                                <div class="col-sm-9" style="padding: 0">
                                    <p style="font-weight: 600;">
                                        @modelNotification.Title
                                    </p>
                                    <p style="font-size: 1rem;width: 90%;">
                                        @modelNotification.Message
                                    </p>
                                    <p>

                                        <a class="btn btn-xs btn-default pull-left">Detalle</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>

        }
    </div>
    <div class="col-sm-12">
        <button class="btn btn-primary js-place-notification" type="button">
            Agendar Notificación
        </button>
    </div>
</div>


<script>
    ///Requires jquery
    (function () {
        var service = abp.services.app.notification;
        var modalIsOpen = false;
        $(".js-place-notification").click(function () {
            window.eModal.ajax({
                loadingHtml:
                '<span class="fa fa-circle-o-notch fa-spin fa-3x text-primary"></span><span class="h4">Cargando</span>',
                url: '/Notifications/Schedule?entitype=' + $("#EntityName").val() + '&entityId=' + $("#Id").val(),
                title: 'Notificación',
                buttons: [
                    {
                        text: 'Cerrar',
                        style: 'danger',
                        close: true,
                        click: function () {

                        }
                    },
                    {
                        text: 'Agendar', style: 'info', close: false, click: function (elm) {
                            save();
                        }
                    }
                ]
            })
                .then(function () {
                    bindEnter();
                });
        });
        function save() {
            var data = $("#ScheduleForm").serializeFormToObject();
            console.log(data);
            data.NotifyDate = data.NotifyDate + " " + data.NotifyTime;
            service.createOrUpdate(data).done(function () {
                window.eModal.close();
                modalIsOpen = false;
                unBindEnter();
                abp.notify.success("Notificación agendada...");
                abp.event.trigger('notifications');
            });
        }
        function enterFunc(e) {
            if (e.keyCode === 13 && modalIsOpen) {
                e.preventDefault();
                save();
            }
        }

        function bindEnter() {
            unBindEnter();
            $(document).on('keypress',
                'input', enterFunc);
        }
        function unBindEnter() {
            $(document).unbind("keypress", enterFunc);
        }


        $("body").on("click",
            ".js-delete-notification",
            function () {
                var id = $(this).data("id");
                abp.message.confirm("¿Eliminar elemento?", function (response) {
                    if (response) {
                        service.delete(id).done(function () {
                            abp.notify.success("Elemento eliminado...");
                            abp.event.trigger('notifications');
                        });
                    }
                });
            });
    })();
</script>