
@using Abp.Extensions
@model Eureka.Spe.NewsFeed.Feeds.Dto.FeedDto
@{
    ViewBag.ActiveMenu = PageNames.Feeds; //The menu item will be active for this page.
    ViewBag.Title = "Detalles de Noticia";
}
@section Styles{
    <style>

        .feed-img {
            width: 450px;
            height: 200px;
        }

        #imgPlaceHolder {
            width: 450px;
            height: 200px;
            margin: 0 auto;
        }

        #upload {
            text-align: center;
        }

            #upload img {
                cursor: pointer;
            }
    </style>
    <link href="~/js/trumboWys/ui/trumbowyg.min.css" rel="stylesheet" />
}

<form name="CreateEditFeedForm" id="CreateEditFeedForm" role="form" class="form-validation form-horizontal">
    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
    <input type="hidden" name="TenantId" value="@Model.TenantId" />
    <input type="hidden" id="publisherId" value="@Model.PublisherId" />
    @Html.HiddenFor(a => a.IsActive)

    <div class="row" style="@(Model.IsActive ? "display:none;" : "")" id="message-container">
        <div class="google-container">
            <div class="col-sm-12">
                <div class="alert alert-info">
                    <strong>
                        Esta noticia no esta activa,
                    </strong>
                    por lo tanto no aparecerá en la sección de noticias de la aplicación
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="google-container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="card">

                    <div class="header">
                        <h2 style="    display: inline;">
                            Información básica
                        </h2>
                        <div class="switch pull-right">
                            <label>Inactiva<input data-id="@Model.Id" class="js-toggle-feed" type="checkbox" @(Model.IsActive ? "checked" : "")><span class="lever"></span>Activa</label>
                        </div>
                    </div>
                    <div class="body">

                        <div class="row clearfix">

                            <div class="col-sm-3 form-control-label left">
                                <label for="name">@L("Title")*</label>
                                <p class="help-block label-help">
                                    Contenido
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="name" type="text" name="Title" value="@Model.Title" required class="validate form-control">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 form-control-label left">
                                <label for="name">@L("Description")*</label>
                                <p class="help-block label-help">
                                    Contenido
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <textarea name="Description" class="form-control">@Model.Description</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-small-center">
            <div class="card">
                <div class="header">
                    <h2>Departamentos</h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-3 form-control-label left">
                            <label for="name" style="top: -15px" class="form-label">Departamento que publica*</label>
                            <a class="" href="@Url.Action("Index", "Publishers")">Administrar departamentos</a>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div id="publisher">

                                        @{Html.RenderAction("PublishersSelector", "Layout", new { selected = Model.PublisherId });}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button title="Agregar dependencia" type="button" class="btn btn-primary js-add-publisher"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Refactor this section-->
    <div class="row">
        <div class="google-container">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Opciones de diseño
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <div class="row clearfix">
                            <div class="col-sm-3 form-control-label left">
                                <label for="name" style="top: -15px" class="form-label">Posición del titulo</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control" name="titlePosition" data-live-search="true">
                                            <option @(Model.TitlePosition == "top-left" ? "selected" : "") value="top-left">Arriba izquierda</option>
                                            <option @(Model.TitlePosition == "bottom-left" ? "selected" : "") value="bottom-left">Abajo izquierda</option>
                                            <option @(Model.TitlePosition == "top-right" ? "selected" : "") value="top-right">Arriba derecha</option>
                                            <option @(Model.TitlePosition == "bottom-right" ? "selected" : "") value="bottom-right">Abajo derecha</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-3 form-control-label left">
                                <label for="name" style="top: -15px" class="form-label">Tamaño del texto</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control" name="FontWeight" data-live-search="true">
                                            <option @(Model.FontWeight == "none" ? "selected" : "") value="none">Normal</option>
                                            <option @(Model.FontWeight == "bold" ? "selected" : "") value="bold">Fuerte</option>
                                            <option @(Model.FontWeight == "bolder" ? "selected" : "") value="bolder">Mas Fuerte</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3 form-control-label left">
                                <label for="name" style="top: -15px" class="form-label">Tamaño del texto</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control" name="FontSize" data-live-search="true">
                                            <option @(Model.FontSize == "1rem" ? "selected" : "") value="1rem">1 rem</option>
                                            <option @(Model.FontSize == "2rem" ? "selected" : "") value="2rem">2 rem</option>
                                            <option @(Model.FontSize == "3rem" ? "selected" : "") value="3rem">3 rem</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3 form-control-label left">
                                <label for="name" style="top: -15px" class="form-label">Color del texto</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control" name="TitleColor" data-live-search="true">
                                            <option @(Model.TitleColor == "white" ? "selected" : "") value="white">Blanco</option>
                                            <option @(Model.TitleColor == "black" ? "selected" : "") value="black">Negro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3 form-control-label left">
                                <label for="name" style="top: -15px" class="form-label">Titulo</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group form-float">
                                        <div class="switch">
                                            <label>Ocultar<input name="DisplayTitleInList" value="true" type="checkbox" @(Model.DisplayTitleInList ? "checked" : "")><span class="lever"></span>Mostrar</label>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3 form-control-label left">
                                <label for="name" style="top: -15px" class="form-label">Titulo (vista de detalle)</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group form-float">
                                    <div class="switch">
                                        <label>Ocultar<input name="DisplayTitleInDetails" value="true" type="checkbox" @(Model.DisplayTitleInDetails ? "checked" : "")><span class="lever"></span>Mostrar</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--!Refactor this section-->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-small-center">
            <div class="card">
                <div class="header">
                    <h2>
                        Recursos multimedia/imagenes
                    </h2>
                </div>
                <div class="body table-responsive">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="" id="upload">
                                    <label>Imagen Principal</label>
                                    @if (Model.Img.IsNullOrEmpty())
                                    {
                                        <img id="imgPlaceHolder" class="img-responsive feed-img" src="http://www.gaia-earth.co.uk/img/placeholder-img.jpg" />
                                    }
                                    else
                                    {
                                        <img id="imgPlaceHolder" class="img-responsive feed-img" src="@Model.Img" />
                                    }
                                    <input name="icon" id="icon" type="file" style="display: none" class="validate form-control">
                                    <input type="hidden" value="@Model.Img" name="img" id="img" />
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row end-row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-small-center">
            <div class="card">
                <div class="header">
                    <h2>
                        Cuerpo de la noticia
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float textarea-wys">
                                <textarea name="content" id="content" class="form-control">@Model.Content</textarea>

                            </div>
                        </div>
                    </div>

                    <div class="stick-bottom">

                        <div class="btn-container">

                            <a @(Model.Id == 0 ? "" : "href=/Feeds/Manage/" + Model.Id) @(Model.Id == 0 ? "disabled" : "") class="btn btn-lg btn-default">Administrar</a>
                            <button type="submit" class="btn btn-lg btn-primary">Guardar noticia</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row clearfix">
    <div class="col-sm-12">
        <form class="dropzone"></form>
    </div>
</div>
@section Scripts{
    <script src="~/js/eModal/eModal.min.js"></script>
    <script src="~/js/helpers.js"></script>
    <script src="~/js/trumboWys/trumbowyg.min.js"></script>
    <script src="~/js/trumboWys/plugins/base64/trumbowyg.base64.min.js"></script>
    <script src="~/js/trumboWys/plugins/pasteembed/trumbowyg.pasteembed.min.js"></script>
    <script src="~/js/trumboWys/langs/es.min.js"></script>
    <script src="~/Views/Feeds/CreateOrEdit.js"></script>
}
