@using System.Globalization
@using Castle.Core.Internal
@model Eureka.Spe.Courses.Dto.CourseDto

@functions {
    private string ParseDate(DateTime? modelRegistrationsEnd)
    {
        if (modelRegistrationsEnd.HasValue) return modelRegistrationsEnd.Value.ToString("yyyy-MM-dd");
        return string.Empty;
    }

}
@{
    ViewBag.ActiveMenu = PageNames.Courses; //The menu item will be active for this page.
}
@section Styles{
    <link href="~/js/datetimepicker/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <link href="~/Views/Courses/CreateOrEdit.css" rel="stylesheet" />
}

<form name="CreateEditFeedForm" id="CreateEditFeedForm" role="form" class="form-validation">


    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="TenantId" value="@Model.TenantId" />
    @*<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-small-center">
                <div class="card">
                    <div class="body table-responsive">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="https://findicons.com/files/icons/2065/free_feed/255/feed_icons12.png" class="img-responsive" style="width: 50%; margin: 0 auto;" alt="Alternate Text" />
                            </div>
                            <div class="col-lg-8">
                                <h4>Mini tutorial</h4>
                                <p>
                                    El estado de tu aplicación aparecerá en el campo de búsqueda de la aplicación, situado en la parte superior derecha de las páginas de Play Console de tu aplicación.
                                    Los botones
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-small-center ">
            <div class="card">
                <div class="header">
                    <h2>
                        Información básica
                    </h2>
                </div>
                <div class="body">

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="name" type="text" name="Title" value="@Model.Title" required class="validate form-control">
                                    <label for="name" class="form-label">@L("Title")*</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="name" class="form-label">@L("Description")*</label>
                                    <textarea name="Description" class="form-control">@Model.Description</textarea>

                                </div>
                                <p class="help-block">
                                    Indica una descripción corta que atraiga a los estudiantes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-small-center ">
            <div class="card">
                <div class="header">
                    <h2>
                        Categoría
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="name" style="top: -15px" class="form-label">Categoría*</label>
                                    <div id="publisher">
                                        @{Html.RenderAction("CourseCategorySelector", "Layout", new { selected = Model.CategoryId });}
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-default" href="@Url.Action("Index","CourseCategories")">Administrar categorías</a>
                        </div>
                        <div class="col-sm-1">
                            <button title="Agregar Categoria" type="button" class="btn btn-primary js-add-category"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-small-center ">
            <div class="card">
                <div class="header">
                    <h2>
                        Precio
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="Price" type="number" name="Price" value="@(Model.Price.HasValue ? Model.Price.Value.ToString(CultureInfo.InvariantCulture) : "")" class="validate form-control">
                                    <label for="Price" class="form-label">Precio</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-small-center">
            <div class="card">
                <div class="header">
                    <h2>
                        Fechas
                    </h2>
                </div>
                <div class="body">
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">
                                Inicio de inscripciones
                            </label>
                            <input type="text" class="datetimepicker-r-start form-control form-control" name="RegistrationsStart" value="@ParseDate(Model.RegistrationsStart)" />

                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">
                                Fin de inscripciones
                            </label>
                            <input type="text" class="datetimepicker-r-end form-control form-control" name="RegistrationsEnd" value="@ParseDate(Model.RegistrationsEnd)" />

                        </div>

                        <div class="col-sm-3">
                            <label class="control-label">
                                Inicio del Curso
                            </label>
                            <input type="text" class="datetimepicker-start form-control form-control" name="StartDate" value="@ParseDate(Model.StartDate)" />

                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">
                                Fin del Curso
                            </label>
                            <input type="text" class="datetimepicker-end form-control form-control" name="EndDate" value="@ParseDate(Model.EndDate)" />

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-small-center">
            <div class="card">
                <div class="header">
                    <h2>
                        Recursos multimedia/imagenes
                    </h2>
                </div>
                <div class="body table-responsive">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="" id="upload">
                                    @if (Model.Img.IsNullOrEmpty())
                                    {
                                        <img id="imgPlaceHolder" class="img-responsive feed-img" src="http://www.gaia-earth.co.uk/img/placeholder-img.jpg" />
                                    }
                                    else
                                    {
                                        <img id="imgPlaceHolder" class="img-responsive feed-img" src="@Model.Img" />
                                    }
                                    <input name="icon" id="icon" type="file" style="display: none" class="validate form-control">
                                    <input type="hidden" value="@Model.Img" name="img" id="img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12 col-small-center">
            <div class="card">
                <div class="header">
                    <h2>
                        Cuerpo del elemento
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea name="content" id="content" class="form-control">@Model.Content</textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="stick-bottom">

        <div class="btn-container">

            <a @(Model.Id == 0 ? "" : "href=/Courses/Manage/" + Model.Id) @(Model.Id == 0 ? "disabled" : "") class="btn btn-lg btn-default">Administrar</a>
            <button type="submit" class="btn btn-lg btn-primary">Guardar noticia</button>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/js/eModal/eModal.min.js"></script>
    <script src="~/js/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/js/helpers.js"></script>
    <script src="~/js/datetimepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/Views/Courses/CreateOrEdit.js"></script>
}
