@model Eureka.Spe.Careers.Dto.CareerDto

@{
    Layout = null;
}
<style>
    #iconPlaceHolder {
        width: 85px;
        height: 85px;
        max-width: 85px;
        max-height: 85px;
    }
</style>
<form id="AddEditCareerForm" role="form" novalidate class="form-validation">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="TenantId" value="@Model.TenantId" />
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="form-group form-float">
                <label for="name" class="form-label">@L("AcademicUnits")</label>
                @{Html.RenderAction("AcademicUnitsSelector", "Layout", new { selected = Model.AcademicUnitId==0 ? ViewBag.Selected : Model.AcademicUnitId });}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group form-float">
                <div class="form-line">
                    <input id="name" type="text" name="Name" value="@Model.Name" required class="validate form-control">
                    <label for="name" class="form-label">@L("Name")</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group form-float">
                <div class="form-line">

                    <label for="name" class="form-label">@L("Description")</label>
                    <textarea name="description" class="form-control">@Model.Description</textarea>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/Views/Careers/CreateOrEdit.js"></script>