@model List<Eureka.Spe.Careers.Dto.CareerDto>
@{
    Layout = null;
}
<link href="~/js/bootstraptable/bootstrap-table.min.css" rel="stylesheet" />
<style>
    .filter-cont {
        width: 40%;
        margin-bottom: 0;
        display: inline-block;
    }

    .btn-container-right {
        display: inline-block;
        width: 60%;
        float: right;
        margin-top: 20px;
    }

    #academicUnits {
        display: inline-block;
    }

    .block {
        display: block;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <a class="btn btn-primary btn-sm waves-effect pull-right js-add-career">
            Crear nueva carrera
        </a>
    </div>
    <div class="col-lg-12">
        <table class="table table-responsive table-condensed">
            <thead>
            <tr>
                @*<th>
                                    --
                                </th>*@
                <th>
                    Titulo
                </th>
                <th>
                    Ultima actualización
                </th>
                <th class="text-center">
                    Opciones
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var modelNotification in Model)
            {
                <tr data-id="@modelNotification.Id">
                    
                    <td>
                        @modelNotification.Name
                    </td>
                    <td>
                        @(modelNotification.LastModificationTime.HasValue ? modelNotification.LastModificationTime.Value.ToShortTimeString() : "--")
                    </td>
                    <td class="text-center">
                        <a data-id="@modelNotification.Id" class="btn btn-xs btn-default js-edit-career"><i class="material-icons">edit</i></a>
                        <a class="btn btn-xs btn-danger js-delete-notification" data-id="@modelNotification.Id"><i class="material-icons">delete_sweep</i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<script src="~/Views/Careers/Index.js"></script>
