@model Eureka.Spe.Web.Models.NotificationRequest.LayoutController.ElementsForEntity

@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        <input type="hidden" id="Id" value="@Model.Id" />
        <input type="hidden" id="EntityName" value="@Model.EntityName" />
        @foreach (var role in Model.AcademicUnitsSelected.OrderBy(a => a.Name))
        {
            <div class="col-sm-3">
                <input type="checkbox" name="academicunit" data-id="@role.Id" title="@role.Description" class="filled-in" id="@string.Format("role{0}", role.Id)" @(role.Selected ? "checked" : "") />
                <label for="@string.Format("role{0}", role.Id)" title="@role.Name">@role.ShortName</label>
            </div>
        }
    </div>

</div>
<script src="~/Views/Layout/GetAcademicUnitsForEntity.es5.min.js"></script>