@using Abp.Extensions
@model Eureka.Spe.ScholarshipsService.Scholarships.Dto.ScholarshipDto
@functions {
    private string ParseDate(DateTime? modelRegistrationsEnd)
    {
        if (modelRegistrationsEnd.HasValue) return modelRegistrationsEnd.Value.ToString("yyyy-MM-dd");
        return string.Empty;
    }

}
@{
    ViewBag.Title = "Detalles de beca";
    ViewBag.ActiveMenu = PageNames.Scholarships;
}
@section Styles{
    <link href="/js/datetimepicker/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <style>
        #iconPlaceHolder {
            width: 450px;
            height: 200px;
        }
        #upload {
            text-align: center;

        }
        #upload img {
            cursor: pointer;
        }
    </style>
}

<form id="AddEditScholarshipForm" role="form" novalidate class="form-validation form-horizontal">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="TenantId" value="@Model.TenantId" />

    <div class="row">
        <div class="col-sm-12 col-small-center">
            <div class="card">
                <div class="header">
                    <h2>Información Básica</h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-3 form-control-label left">
                            <label for="Title">@L("Title")</label>
                            <p class="help-block label-help">
                                Contenido
                            </p>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="Title" type="text" name="Title" value="@Model.Title" required minLength="10" maxlength="80" class="validate form-control">
                                </div>
                                <div class="help-info">Min. 10, Max. 80 Caracteres</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-control-label left">
                            <label for="description">@L("Description")</label>
                            <p class="help-block label-help">
                                Contenido
                            </p>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <textarea name="description" id="description" minLength="10" maxlength="200" class="form-control">@Model.Description</textarea>
                                </div>
                                <div class="help-info">Min. 10, Max. 200 Caracteres</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-control-label left">
                            <label for="description">Inicio de inscripciones</label>
                            <p class="help-block label-help">
                                Contenido
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="datetimepicker-r-start form-control form-control" name="StartDate" value="@ParseDate(Model.StartDate)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-control-label left">
                            <label for="description">Fin de inscripciones</label>
                            <p class="help-block label-help">
                                Contenido
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="datetimepicker-r-end form-control form-control" name="EndDate" value="@ParseDate(Model.EndDate)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix end-row">
        <div class="col-sm-12 col-small-center">
            <div class="card">
                <div class="header">
                    <h2>Imagen/Multimedia</h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group form-float">
                                <div id="upload">
                                    @if (Model.Img.IsNullOrEmpty())
                                    {
                                        <img id="iconPlaceHolder" src="http://www.gaia-earth.co.uk/img/placeholder-img.jpg" />
                                    }
                                    else
                                    {
                                        <img id="iconPlaceHolder" src="@Model.Img" />
                                    }
                                    <input name="icon" style="display: none;" id="icon" type="file" class="validate form-control">
                                    <input type="hidden" value="@Model.Img" name="img" id="img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stick-bottom">

        <div class="btn-container">

            <a @(Model.Id == 0 ? "" : "href=/Scholarships/Manage/" + Model.Id) @(Model.Id == 0 ? "disabled" : "") class="btn btn-lg btn-default">Administrar</a>
            <button type="submit" class="btn btn-lg btn-primary">Guardar</button>
        </div>
    </div>

</form>
@section Scripts{
    <script src="~/js/helpers.js"></script>
    <script src="/js/datetimepicker/bootstrap-material-datetimepicker.js"></script>

    <script src="~/Views/Scholarships/CreateOrEdit.js"></script>
}
