@model List<Eureka.Spe.ScholarshipSections.Dto.ScholarshipSectionDto>
@{
    Layout = null;
}
<link href="~/Views/Scholarships/Sections.css" rel="stylesheet" />
<input type="hidden" id="Id" value="@ViewBag.ScholarshipId" />
@if (!Model.Any())
{
    <h3>No hay secciones agregadas para esta beca...</h3>
}
<div class="row">
    @foreach (var scholarshipSectionDto in Model)
    {
        <div class="col-sm-4">
            <div class="content-section">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-xs btn-danger pull-right js-delete-scholarshipSection" data-id="@scholarshipSectionDto.Id"><i class="material-icons">delete_sweep</i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>@scholarshipSectionDto.Title</h5>
                        <div>
                            @Html.Raw(scholarshipSectionDto.Content)
                        </div>
                    </div>
                </div>


                <button type="button" class="btn btn-default js-edit-section" data-id="@scholarshipSectionDto.Id">Editar</button>
            </div>

        </div>
    }
</div>



<button type="button" class="btn btn-primary js-add-section">Agregar</button>

<script src="~/Views/Scholarships/Sections.js"></script>